out/production/Salesforce - szkolenie1/flows/Schedule_Meeting.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Schedule_Meeting_Event_Notification</name>
        <label>Schedule Meeting Event Notification</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <actionName>Event.ScheduleMeetingEvent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Finish_with_email_sent</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Event</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Notes_Page</name>
        <label>Assign Notes Page</label>
        <locationX>776</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Place_Stage</name>
        <label>Assign Place Stage</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Place_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Summary_Stage</name>
        <label>Assign Summary Stage</label>
        <locationX>776</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Summary_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Time_Stage</name>
        <label>Assign Time Stage</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>General</name>
        <label>General</label>
        <locationX>638</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>General_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Email_sent</name>
        <label>Is Email set?</label>
        <locationX>578</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Schedule_Meeting_Event_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Data.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Email</targetReference>
            </connector>
            <label>Email field is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_email</name>
        <label>Send email?</label>
        <locationX>776</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Finish_without_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_should_be_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_email_invitation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_sent</targetReference>
            </connector>
            <label>Email should be sent</label>
        </rules>
    </decisions>
    <interviewLabel>Schedule Meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>776</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Change_Meeting_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Informations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <stringValue>{!Address.street} {!Address.city} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_Meeting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Data</name>
        <label>Get Lead Data</label>
        <locationX>1016</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>General</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Meeting_Status</name>
        <label>Change Meeting Status</label>
        <locationX>776</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Send_email</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Additional_Information_Screen</name>
        <label>Additional Information Screen</label>
        <locationX>776</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Summary_Stage</targetReference>
        </connector>
        <fields>
            <name>Notes</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Informations</name>
            <fieldText>Additional Informations</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Address_Screen</name>
        <label>Address Screen</label>
        <locationX>776</locationX>
        <locationY>805</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Notes_Page</targetReference>
        </connector>
        <fields>
            <name>Place</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>$Organization.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>$Organization.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>$Organization.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>$Organization.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>$Organization.Country</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_with_email_sent</name>
        <label>Finish with email sent</label>
        <locationX>710</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>asd</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Email with meeting details has been sent to {!Get_Lead_Data.FirstName}  {!Get_Lead_Data.LastName}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_without_email</name>
        <label>Finish without email</label>
        <locationX>974</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scheduled_meeting_without_email</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Successful meeting added.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Screen</name>
        <label>General Screen</label>
        <locationX>776</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Time_Stage</targetReference>
        </connector>
        <fields>
            <name>Generals</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Name</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;First Name: {!Get_Lead_Data.FirstName}&lt;/p&gt;&lt;p&gt;Last Name: {!Get_Lead_Data.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject_Meeting</name>
            <dataType>String</dataType>
            <fieldText>Meeting Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Email</name>
        <label>Missing Email</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Email_not_sent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(215, 23, 23);&quot;&gt;Email sent unsucessfully. Lead has not provided an email addr&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;ess.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>776</locationX>
        <locationY>1286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TimeSummary</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Meeting Summary:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Subject: {!Subject_Meeting}&lt;/p&gt;&lt;p&gt;Start: {!Start_Date}&lt;/p&gt;&lt;p&gt;End: {!End_Date}&lt;/p&gt;&lt;p&gt;Location: {!Address.street} {!Address.city}&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_email_invitation</name>
            <dataType>Boolean</dataType>
            <fieldText>Send email invitation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Screen</name>
        <label>Time Screen</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Place_Stage</targetReference>
        </connector>
        <fields>
            <name>Time</name>
            <extensionName>c:flowStages_field</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>General_Stage</name>
        <isActive>true</isActive>
        <label>General</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Notes_Stage</name>
        <isActive>true</isActive>
        <label>Notes</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Place_Stage</name>
        <isActive>true</isActive>
        <label>Place</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Summary_Stage</name>
        <isActive>true</isActive>
        <label>Summary</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Time_Stage</name>
        <isActive>true</isActive>
        <label>Time</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Lead_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sdf</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
